@import "tailwindcss";

@theme {
  --color-dark: #43555d;
  --color-light: #f8efe3;
  --color-brown: #a37b64;
  --color-semilight: #c4c8ba;
  --color-first: #12212e;
  --color-second: #307082;
  --color-third: #6ca3a2;
  --color-fourth: #ece7dc;
  --color-five: #ea9940;
}
