@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbars globally */
* {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@theme {
  --color-dark: #43555d;
  --color-light: #f8efe3;
  --color-brown: #a37b64;
  --color-semilight: #c4c8ba;
  --color-first: #12212e;
  --color-second: #307082;
  --color-third: #6ca3a2;
  --color-fourth: #ece7dc;
  --color-five: #ea9940;
}

.backforth {

  animation: moveX 2s ease-in-out infinite alternate;
}

@keyframes moveX {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(80px);
  }
}

/* globals.css me daalein */

.photo-gallery-slider .slick-slide {
  padding: 0 12px;
  /* Slides ke beech me gap ke liye */
}

.photo-gallery-slider .slick-list {
  margin: 0 -12px;
  /* Padding ko compensate karne ke liye */
}

/* Custom Arrow Styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-color: #30708269 !important;
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  /* to override slick's display: none */
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-arrow:hover {
  background-color: white;
}

.prev-arrow {
  left: 160px;
  /* Slider ke thoda bahar */
}

.slick-next {
  right: -6px !important
}

.slick-prev {
  left: -6px !important
}

.next-arrow {
  right: 160px;
  /* Slider ke thoda bahar */
}

/* Default slick arrow styling ko hatayein */
.custom-arrow::before {
  content: none;
}

/* Dots ko style karein */
.slick-dots li button:before {
  margin-top: 15px !important;
  font-size: 15px !important;
  color: var(--color-brown) !important;
}

.slick-dots li.slick-active button:before {
  color: var(--color-second) !important;
}